
html {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  text-align: center;
  text-shadow: 0 2px 3px rgba(0,0,0,1);
  padding: 1em 0 1em 0;
  background-color: #E7001D;
  position: relative;
}

.medallion {
  width: 100px;
  position: relative;
}

h1 {
  margin: 0;
  color: #fff;
  font-size: 3.5rem;
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  bottom: 10px;
  clear: both;
}

.chinese-zodiac {
  margin: 0;
  font-size: 1rem;

}

nav ol {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
}

nav ol li {
  display: block;
  border: 1px solid black;
  width: 50%;
  float: left;
  background-color: #222222;
}

nav ol li a {
  text-decoration: none;
  color: white;
  display: block;
  margin: 0;
  padding: .5em 0 .5em .5em;
  text-align: center; /* I like the buttons centered instead of aligned left */
}

nav ol li a:hover {
  color: #E4C22A;
}

.banner {
  position:static;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
}

.banner img {
  width: 100%;
}

.banner-content {
  position: absolute;
  bottom: 10em;
  width: 100%;
  text-shadow: 1px 1px 4px rgba(0,0,0,1);
}

.div h2 {
  font-weight: 700;
}

figcaption {
  font-size: .75em;
}

.dragon {
  background-color: #E4C22A;
  text-align: center;
  padding: .5em 0 .5em 0;
}

.dragon-symbol {
  float:left;
  clear:left;
  max-width: 50%;
}

.dragon-img {
  float:right;
  clear:right;
  max-width: 50%;
}

.goat {
  background-color: #222222;
  text-align: center;
  color: #fff;
  padding: .5em 0 .5em 0;
  position: static;

}

.goat-symbol {
  float:left;
  clear:left;
  max-width: 50%;
}

.goat-img {
  float:right;
  clear:right;
  max-width: 50%;
}

.rooster {
  background-color: #E7001D;
  text-align: center;
  color: #fff;
  padding: .5em 0 .5em 0;
  position: static;
}

.rooster-symbol {
  float:left;
  clear:left;
  max-width: 50%;
}

.rooster-img {
  float:right;
  clear:right;
  max-width: 50%;
}

.ox {
  background-color: #E4C22A;
  text-align: center;
  color: #000;
  padding: .5em 0 .5em 0;
  position: static;
}

.ox-symbol {
  float:left;
  clear:left;
  max-width: 50%;
}

.ox-img {
  float:right;
  clear:right;
  max-width: 50%;
}

footer {
  background-color: #222222;
  color: #fff;
  text-align: center;
  padding: 1em;
}

footer a:hover {
  color: #E4C22A;
}
